Failing tests

I want to work on making the input type more generic (I'm working with `Data.Text` and not `String` and don't want to have to convert back and forth),  but discovered that many of the tests are failing.  It appears as though very few of the invalid addresses are actually coming up as being invalid.

```
123456789012345678901234567890123456789012345678901234567890@12345678901234567890123456789012345678901234567890123456789.12345678901234567890123456789012345678901234567890123456789.12345678901234567890123456789012345678901234567890123456789.1234.example.com: Should be False, got True
        Entire address is longer than 256 characters
12345678901234567890123456789012345678901234567890123456789012345@example.com: Should be False, got True
        Local part more than 64 characters
""@example.com: Should be False, got True
        Local part is effectively empty
x@x23456789.x23456789.x23456789.x23456789.x23456789.x23456789.x23456789.x23456789.x23456789.x23456789.x23456789.x23456789.x23456789.x23456789.x23456789.x23456789.x23456789.x23456789.x23456789.x23456789.x23456789.x23456789.x23456789.x23456789.x23456789.x23456: Should be False, got True
        Domain exceeds 255 chars
first.last@[.12.34.56.78]: Should be False, got True
        Only char that can precede IPv4 address is ':'
first.last@[12.34.56.789]: Should be False, got True
        Can't be interpreted as IPv4 so IPv6 tag is missing
first.last@[::12.34.56.78]: Should be False, got True
        IPv6 tag is missing
first.last@[IPv5:::12.34.56.78]: Should be False, got True
        IPv6 tag is wrong
first.last@[IPv6:1111:2222:3333::4444:5555:12.34.56.78]: Should be False, got True
        Too many IPv6 groups (4 max)
first.last@[IPv6:1111:2222:3333:4444:5555:12.34.56.78]: Should be False, got True
        Not enough IPv6 groups
first.last@[IPv6:1111:2222:3333:4444:5555:6666:7777:12.34.56.78]: Should be False, got True
        Too many IPv6 groups (6 max)
first.last@[IPv6:1111:2222:3333:4444:5555:6666:7777]: Should be False, got True
        Not enough IPv6 groups
first.last@[IPv6:1111:2222:3333:4444:5555:6666:7777:8888:9999]: Should be False, got True
        Too many IPv6 groups (8 max)
first.last@[IPv6:1111:2222::3333::4444:5555:6666]: Should be False, got True
        Too many '::' (can be none or one)
first.last@[IPv6:1111:2222:3333::4444:5555:6666:7777]: Should be False, got True
        Too many IPv6 groups (6 max)
first.last@[IPv6:1111:2222:333x::4444:5555]: Should be False, got True
        x is not valid in an IPv6 address
first.last@[IPv6:1111:2222:33333::4444:5555]: Should be False, got True
        33333 is not a valid group in an IPv6 address
first.last@example.123: Should be False, got True
        TLD can't be all digits
first.last@com: Should be False, got True
        Mail host must be second- or lower level
first.last@-xample.com: Should be False, got True
        Label can't begin with a hyphen
first.last@exampl-.com: Should be False, got True
        Label can't end with a hyphen
first.last@x234567890123456789012345678901234567890123456789012345678901234.example.com: Should be False, got True
        Label can't be longer than 63 octets
test@123.123.123.123: Should be False, got True
        Top Level Domain won't be all-numeric (see RFC3696 Section 2). I disagree with Dave Child on this one.
test@123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012.com: Should be False, got True
        255 characters is maximum length for domain. This is 256.
test@example: Should be False, got True
        Dave Child says so
first."".last@example.com: Should be False, got True
        Contains a zero-length element
first.last@[IPv6:1111:2222:3333:4444:5555:6666:12.34.567.89]: Should be False, got True
        IPv4 part contains an invalid octet
a@b: Should be False, got True

aaa@[123.123.123.333]: Should be False, got True
        not a valid IP
a@bar: Should be False, got True

a@-b.com: Should be False, got True

a@b-.com: Should be False, got True

invalid@special.museum-: Should be False, got True

foobar@192.168.0.1: Should be False, got True
        ip need to be []
```
